{%- assign v = product.selected_or_first_available_variant -%}
<span class="price">
  {%- if v.compare_at_price and v.compare_at_price > v.price -%}
    <s>{{ v.compare_at_price | money }}</s>
  {%- endif -%}
  <span>{{ v.price | money }}</span>
</span>
