{%- if product.has_only_default_variant == false -%}
<div class="variant-picker">
  {%- for option in product.options_with_values -%}
    <div class="option">
      <label>{{ option.name }}</label>
      <div class="values">
        {%- for value in option.values -%}
          <label>
            <input type="radio"
                   name="options[{{ option.name }}]"
                   value="{{ value | escape }}"
                   {% if option.selected_value == value %}checked{% endif %}>
            <span>{{ value }}</span>
          </label>
        {%- endfor -%}
      </div>
    </div>
  {%- endfor -%}
</div>
{%- endif -%}
